.ms-author-info-flex {
  display: flex;
  align-items: center;
}

.ms-author-image {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  border-radius: 50%;
  overflow: hidden;
  margin: 0.5rem;
}

.ms-author-image.post {
  width: 64px;
  height: 64px;
}
