/* Buttons */

.ms-btn {
  display: inline-flex;
  position: relative;
  vertical-align: middle;
  line-height: inherit;
  font-size: inherit;
  text-align: center;
  align-items: center;
  justify-content: center;
  min-width: 4rem;
  letter-spacing: 0;
  white-space: nowrap;
  overflow: hidden;
  padding: 6px 1.5rem;
  border: 2px solid transparent;
  border-radius: 999px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease;
  font-weight: 300;
  font-family: Roboto, Avenir, Helvetica, Arial, sans-serif;
  width: auto;
}

/* Main buttons */

/* Primary button */

.ms-btn-primary {
  color: var(--main-text-inverted);
  background: var(--main-red);
}

.ms-btn-primary:hover {
  text-decoration: none;
  background: var(--main-red-hover);
  outline: 0;
}

/* Disabled */

.ms-btn-primary.disabled,
.ms-btn-primary:disabled {
  color: var(--main-gray);
  background-color: var(--main-light-gray);
  border-color: transparent;
  opacity: 1;
}

/* Secondary button */

.ms-btn-secondary {
  color: var(--main-red);
  background-color: transparent;
  background-image: none;
  border: 1px solid var(--main-red);
}

.ms-btn-secondary:hover {
  color: var(--main-text-inverted);
  background: var(--main-red);
  border: none;
}

/* Tertiary buttons */

/* Success */

.ms-btn-success {
  color: var(--main-text-inverted);
  background: var(--main-success);
}

.ms-btn-success:hover {
  text-decoration: none;
  background: var(--main-success-hover);
  outline: 0;
}

.ms-btn-success-sec {
  color: var(--main-success);
  background-color: transparent;
  background-image: none;
  border: 1px solid var(--main-success);
}

.ms-btn-success-sec:hover {
  color: var(--main-text-inverted);
  background: var(--main-success);
  border: none;
}

/* Warning */

.ms-btn-warning {
  color: var(--main-text-inverted);
  background: var(--main-warning);
}

.ms-btn-warning:hover {
  text-decoration: none;
  background: var(--main-warning-hover);
  outline: 0;
}

.ms-btn-warning-sec {
  color: var(--main-warning);
  background-color: transparent;
  background-image: none;
  border: 1px solid var(--main-warning);
}

.ms-btn-warning-sec:hover {
  color: var(--main-text-inverted);
  background: var(--main-warning);
  border: none;
}

/* Error */

.ms-btn-error {
  color: var(--main-text-inverted);
  background: var(--main-error);
}

.ms-btn-error:hover {
  text-decoration: none;
  background: var(--main-error-hover);
  outline: 0;
}

.ms-btn-error-sec {
  color: var(--main-error);
  background-color: transparent;
  background-image: none;
  border: 1px solid var(--main-error);
}

.ms-btn-error-sec:hover {
  color: var(--main-text-inverted);
  background: var(--main-error);
  border: none;
}

/* Button Size */

.ms-btn-sm {
  height: 32px;
  padding: 0 1rem;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 32px;
  text-transform: none;
}

.ms-btn-lg {
  height: 60px;
  padding: 0 1.5rem;
  font-weight: 700;
  font-size: 1rem;
  line-height: 60px;
}
