.navbar {
  position: fixed;
  min-width: 290px;
  top: 110px;
  left: 0px;
  width: 300px;
  height: 62%;
  margin-bottom: 110px;
  border-right: solid;
  border-color: var(--main-accent);
}

.nav-list {
  height: 88%;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.nav-list li {
  color: var(--main-black);
  border-top: 1px solid;
  list-style: none;
  position: relative;
  width: 100%;
}

.navbar h4 {
  line-height: 0;
}

.navbar a {
  display: block;
  padding: 10px 30px;
  color: var(--main-black);
  text-decoration: none;
  cursor: pointer;
}

.main-doc {
  margin-left: 310px;
  padding: 20px;
  margin-bottom: 110px;
}

.main-doc p {
  max-width: 1000px;
}

.main-section article {
  color: var(--main-black);
  margin: 15px;
  font-size: 0.96em;
}

.main-section .back {
  display: inline-block;
  padding: 1rem;
  margin: 1rem;
}

.main-section li {
  margin: 15px 0px 0px 20px;
}

.items-group {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.items-group > .items-column {
  padding: 1rem;
}

.items-img {
  width: 6rem;
  height: 6rem;
  background-size: cover;
  border-style: solid;
  border-width: 1px;
  border-radius: 20%;
  border-color: var(--main-light-gray);
}

/* Helper containers */

.eg-container {
  border: 1px solid var(--main-light-gray);
  padding: 0.5rem;
}

.eg-container-sm {
  max-width: 300px;
}

.eg-container-md {
  max-width: 600px;
}

.eg-container-lg {
  max-width: 1000px;
}

/* Media */

@media only screen and (max-width: 770px) {
  .nav-list {
    border: 1px solid;
    height: 207px;
  }

  .navbar {
    background-color: var(--main-white);
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 275px;
    border: none;
    z-index: 1;
    border-bottom: 2px solid;
  }

  .main-doc {
    position: relative;
    margin-left: 0px;
    margin-top: 270px;
  }
}

@media only screen and (max-width: 400px) {
  .main-doc {
    margin-left: -10px;
  }

  .main-section code {
    margin-left: -20px;
    width: 100%;
    padding: 15px;
    padding-left: 10px;
    padding-right: 45px;
    min-width: 233px;
  }
}
