.footer {
  padding: 2rem 3rem 2.5rem;
  color: var(--main-black);
  background-color: var(--main-white);
}

/* Footer Links and Social Media Links Groups */

.footer-inner-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Footer Links */

.footer-inner-flex-2 {
  display: flex;
  align-items: center;
}

.footer-link {
  display: block;
  margin-bottom: 0px;
  margin-left: -0.5rem;
  text-decoration: none;
  margin-left: 1rem;
  background-image: none;
}

@media screen and (max-width: 767.98px) {
  /* Extra small and small devices */
  .footer {
    padding: 20px 20px;
  }

  .footer-flex-container {
    flex-wrap: wrap;
  }

  .footer-inner-flex {
    flex-wrap: wrap-reverse;
  }

  .footer-inner-flex-2 {
    margin-top: 1rem;
    margin-right: 1rem;
  }
}

@ screen and (max-width: 575.98px) {
  /* Extra small devices (portrait phones, less than 576px) */
  .footer-bottom-flex {
    white-space: nowrap;
  }

  .footer-flex-container {
    flex-direction: column;
  }
}
