/* Page Wrap */

.ws-wrap-flex {
  position: relative;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

/* Main */

.main-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}
