@import url("./article.css");
@import url("./author.css");
@import url("./buttons.css");
@import url("./card.css");
@import url("./colors.css");
@import url("./design.css");
@import url("./form.css");
@import url("./layout.css");
@import url("./nav.css");
@import url("./footer.css");
@import url("./section.css");
@import url("./social.css");
@import url("./typography.css");

@charset 'UTF-8';

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}
