@import url("./buttons.css");
@import url("./colors.css");
@import url("./design.css");
@import url("./layout.css");
@import url("./nav.css");
@import url("./fonts.css");
@import url("./footer.css");

html,
body {
  color: var(--main-text);
  background-color: var(--main-white-bk);
}

h1,
h2,
h3,
h4,
h5,
.title {
  color: var(--main-accent);
}

/* Link */

a:hover {
  color: var(--main-blue);
  text-decoration: none;
}
